@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;600&display=swap');

:root{
    --color-background: rgb(173, 216, 230);
    --color-box: white;

    --color-star-on: rgb(253, 204, 13);
    --color-star-off:  rgb(209, 209, 209);
	--color-accent: #7598BE;

    --font-family: 'Mitr', sans-serif;
	--font-weight1: 300;
    --font-weight2: 400;
	--font-weight3: 600;
	--font-size0: 15px;
	--font-size1: 18px;
    --font-size2: 20px;
	--font-size3: 30px;
}

body{
	font-family: var(--font-family);
	font-size: var(--font-size1);
	font-weight: var(--font-weight1);
	margin: 0;
	background-color: #B1D5FD;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

.box{
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	max-width: 700px;
	min-width: 700px;
	background-color: #ffffff;
	margin: 80px auto;
	padding: 40px;
	border-radius: 20px;
}

.box h2{

	font-size: var(--font-size3);
	font-weight: var(--font-weight3);
	text-align: center;
	text-shadow: 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE, 
  			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE, 
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE;
	color: #FFFFFF;
	margin-bottom: 25px;
	line-height: 20px;
	
}

.box hr{
	border: 1px solid #E7E7E7;
	margin-bottom: 20px;
}

button{

	font-family: 'Mitr', sans-serif;
	font-size: 14px;
	font-weight: var(--font-weight3);
	color: #87B0E0;
	text-transform: uppercase;
	text-align: center;

	background-color: #fff;

	margin: 0px 118px;
	padding: 20px 50px;
	border: 3px solid #9BC3F1;
	border-radius: 20px;
	transition: all 0.4s ease-in-out;
}

button:hover{
	color: #FFFFFF;
	background-color: #9BC3F1;
	cursor: pointer;
}

.star-box{
	margin-left: 30px;
    font-family: var(--font-family);
    font-weight: var(--font-weight2);
    font-size: var(--font-size2);

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star-list{
    padding: 0px;
    list-style-type: none;
}

.star{
    color: transparent;  
    text-shadow: 0 0 0 var(--color-star-off);
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.star-on{ 
	text-shadow: 0 0 0 var(--color-star-on);
}

.star-question{
	color: black;
}

.container{	
	padding: 20px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}