@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;600&display=swap');

body{
	font-family: 'Mitr', sans-serif;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	background-color: #B1D5FD;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

.navi-box{

	max-width: 550px;
	background-color: #ffffff;
	margin: 80px auto;
	padding: 40px;
	border-radius: 20px;
}

.navi-box h2{

	font-size: 30px;
	font-weight: 600;
	text-align: center;
	text-shadow: 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE, 
  			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE, 
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE;
	color: #FFFFFF;
	margin-bottom: 25px;
	line-height: 20px;
	
}

.navi-box hr{
	border: 1px solid #E7E7E7;
	margin-bottom: 20px;
	
}

.navi-btn{

	font-family: 'Mitr', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #87B0E0;
	text-transform: uppercase;
	text-align: left;

	background-color: #9BC3F1;
	background-image: linear-gradient(to right, #FFFFFF 50%, transparent 50%);
	background-size: 200%;
	background-position: 0%;

	width: 80%;
	margin-left: 90px;
	margin-bottom: 5px;
	padding: 20px 50px;
	border: 3px solid #9BC3F1;
	border-radius: 20px;
	transition: all 0.4s ease-in-out;
}

.navi-btn:hover{
	color: #FFFFFF;
	background-position: 100%;
	cursor: pointer;
}

.navi-btn::before{
	max-width: 30%; 
	opacity: 0.7;
	position: absolute;
	display: inline-block;
	text-rendering: auto; 
	content: url(../Sources/Globe-Emoticon.png);
	margin-left: -130px;
	margin-top: -15px;
}