@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;600&display=swap');

:root{
    --color-background: rgb(173, 216, 230);
    --color-box: white;

    --color-star-on: rgb(253, 204, 13);
    --color-star-off:  rgb(209, 209, 209);
	--color-accent: #7598BE;

    --font-family: 'Mitr', sans-serif;
	--font-weight1: 300;
    --font-weight2: 400;
	--font-weight3: 600;
	--font-size0: 15px;
	--font-size1: 18px;
    --font-size2: 20px;
	--font-size3: 30px;
}

body{
	font-family: var(--font-family);
	font-size: var(--font-size1);
	font-weight: var(--font-weight1);
	margin: 0;
	background-color: #B1D5FD;
}

*{
	text-decoration: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

.box{
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	max-width: 550px;
	background-color: #ffffff;
	margin: 10px auto;
	padding: 40px;
	border-radius: 20px;
	transition: all 0.4s ease-in-out;
}

.progress-box{
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	max-width: 550px;
	background-color: #ffffff;
	margin: 80px auto 10px auto;
	padding: 40px;
	border-radius: 20px;
}

h2{

	font-size: var(--font-size3);
	font-weight: var(--font-weight3);
	text-align: center;
	text-shadow: 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE, 
  			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE, 
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE,
			 0 0 3px #7598BE, 0 0 3px #7598BE;
	color: #FFFFFF;
	margin-bottom: 25px;
	line-height: 20px;
}

p{
	font-weight: var(--font-weight2);
	text-align: center;
}

.error{
	display: flex; 
    justify-content: center;
	font-weight: var(--font-weight2);
	margin-bottom: -20px;
}

hr{
	border: 1px solid #E7E7E7;
	margin-bottom: 20px;
}

button{
	display: block;
	font-family: 'Mitr', sans-serif;
	font-size: 14px;
	font-weight: var(--font-weight3);
	color: #87B0E0;
	text-transform: uppercase;
	text-align: center;

	background-color: #fff;

	margin: 0 auto;
	padding: 20px 50px;
	border: 3px solid #9BC3F1;
	border-radius: 20px;
	transition: all 0.4s ease-in-out;
}
input[type=submit] {
	display: block;
    font-family: 'Mitr', sans-serif;
	font-size: 14px;
	font-weight: var(--font-weight3);
	color: #87B0E0;
	text-transform: uppercase;
	text-align: center;

	background-color: #FFF;

	margin: 0 auto;
	padding: 20px 50px;
	border: 3px solid #9BC3F1;
	border-radius: 20px;
	transition: all 0.4s ease-in-out;
}
input[type=submit]:hover {
	color: #FFFFFF;
	background-color: #9BC3F1;
	cursor: pointer;
}
button:hover{
	color: #FFFFFF;
	background-color: #9BC3F1;
	cursor: pointer;
}

.modal-box {
	position: absolute;
	overflow-y: auto;
	border: none;
	background-color: transparent;
	margin: 48px auto;
	border-radius: 20px;
	
	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

.answer-statement{
	text-align: center;
	font-family: var(--font-family);
	font-size: var(--font-size2);
	font-weight: var(--font-weight2);
	color: var(--color-accent);
	
	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.answer-explanation{
	text-align: center;
	font-family: var(--font-family);
	font-size: var(--font-size0);
	font-weight: var(--font-weight2);
	
	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-delay: 1.8s;
	animation-fill-mode: forwards;
}

.question-hint{
	text-align: center;
	font-family: var(--font-family);
	font-size: 14px;
	font-weight: var(--font-weight1);
}

.star-rating{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.star-box{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: var(--font-weight2);
    font-size: var(--font-size2);

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star-list{
    padding: 0px;
    list-style-type: none;
}

.star{
    color: transparent;  
    text-shadow: 0 0 0 var(--color-star-off);
    scale: 2;
    margin: 5px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    display: inline-block;

    transition: all ease-in-out .5s;
}

.star-on{ 
    transition: all ease-in-out .5s;
    animation-name: starScale;
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards;
	animation-duration: 0.8s;
}

#star-one{
    animation-delay: 0.6s;
}
#star-two{
    animation-delay: 0.8s;
}
#star-three{
    animation-delay: 1.0s;
}
#star-four{
    animation-delay: 1.2s;
}
#star-five{
    animation-delay: 1.4s;
}

.skill-bars{
	margin: 10px auto;
	max-width: 330px;
	
}

.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform-origin: left;
  border-radius: 10px;
  
}

.user-answer{
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transform-origin: left;
	background: transparent;
	
}

.user-answer::before{
  position: absolute;
  content: "";
  top: -11px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: var(--color-accent);
  opacity: 40%;
	
}
.user-answer::after{
	content: "YOUR";
  position: absolute;
  top: -32px;
  right: 0;
  font-weight: var(--font-weight2);
  background: var(--color-accent);
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 70%;
	
}

.actual-answer{
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transform-origin: left;
	background: transparent;
	
}

.actual-answer::before{
  position: absolute;
  content: "";
	transform: scaleY(-1);
  top: 14px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: var(--color-accent);
  opacity: 40%;

}
.actual-answer::after{
	content: "ACTUAL";
  position: absolute;
  top: 20.2px;
  right: 0;
  font-weight: var(--font-weight2);
  background: var(--color-accent);
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 70%;
	
}

.range-min{
	position:relative;
	font-family: var(--font-family);
	font-size: 12px;
	font-weight: var(--font-weight2); 
	left: -10px;
	top: -32px;
	
}
.range-max{
	position:relative;
	font-family: var(--font-family);
	font-size: 12px;
	font-weight: var(--font-weight2); 
	left: 382px;
	top: -32px;
	
}

.submenu{
	padding: 0px 50px;
	font-family: var(--font-family);
	font-size: 12px;
	font-weight: var(--font-weight1);
	display: none;
}

.sources-box{
	display: none;
}

/*position the label*/
.source-label {
	
  position: relative;
  display: block;
  cursor: pointer;
}

.source-label:before {
	content: "\25BC  Display Sources";
  display: block;
  cursor: pointer;
}

.sources-box:checked~.submenu {
	display: block;
	
	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.4s;
	animation-delay: .1s;
	animation-fill-mode: forwards;
}

.sources-box:checked~.source-label:before {
	content: "\25B2  Hide Sources";
	display: block;
	cursor: pointer;
}
.answer-col{
	font-size: var(--font-size0);
	text-align: center;
	font-weight: var(--font-weight2);
	
	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-delay: 1.8s;
	animation-fill-mode: forwards;
}
.submission-box{
	background-color: white;
	padding: 20px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.container-box{
	background-color: white;
	margin: 10px auto;
	padding: 20px;
	max-width: 500px;
	min-width: 500px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.progress-bar{
	border-radius: 20px;
	height: 15px;
	background-color: var(--color-star-off);
}
.progress-bar-fill{
	border-radius: 20px;
	height: 15px;
	background-color: #64bc2c;
	
		opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}
.bar-units{
	text-align: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight2);
    font-size: var(--font-size0);
}

.answer-statement-box{
	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.skill-bar-box{
	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-delay: 2.6s;
	animation-fill-mode: forwards;
}

.user-question-box{
	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.progress-globe{
	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

.close-button{
	opacity: 0;
	
	animation-name: fadeIn;
	animation-duration: 1.0s;
	animation-delay: 3.4s;
	animation-fill-mode: forwards;
}

.button-container{
	display: flex; 
	align-items: center;
	justify-content: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes starScale {
    0%{
        text-shadow: 0 0 0 var(--color-star-on);
        scale: 2.0;
    }
    50%{
        text-shadow: 0 0 0 var(--color-star-on);
        scale: 2.5;
    }
    100%{
        text-shadow: 0 0 0 var(--color-star-on);
        scale: 2.0;
    }
}